{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block container_class %}container-fluid{% endblock %}

{% block head_style %}
    {% stylesheets
    './../app/Resources/less/app.less'
    filter="?lessphp"
    output="css/main.css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% stylesheets
    '@BmatznerFontAwesomeBundle/Resources/public/css/font-awesome.min.css'
    output="css/fa.css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_scripts %}
    {% javascripts
        '@MopaBootstrapBundle/Resources/public/js/modernizr-2.7.1-respond-1.4.2.min.js'
        filter="?uglifyjs2"
        output="js/modernizr.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon-196x196.png') }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ asset('favicon-160x160.png') }}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">

{% endblock head_scripts %}

{% block navbar %}
    {% embed '::navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
        {% block brand %}{% endblock %}
        {% block menu %}
            {{ mopa_bootstrap_menu('WcUserBundle:Builder:indexMenu', {'automenu': 'navbar'}) }}
            {% if not is_granted('ROLE_USER') %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown first last">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in with <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right menu_level_1" role="menu">
                            {% render(controller('HWIOAuthBundle:Connect:connect')) %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                {{ mopa_bootstrap_menu('WcUserBundle:Builder:userMenu', {'automenu': 'navbar', 'pull-right': true}) }}
            {% endif %}
        {% endblock %}
    {% endembed %} 
{% endblock navbar %}

{% block content_row %}
    {% block content %}{% endblock %}
{% endblock %}

{% block page_header %}{% endblock %}
{% block foot_script %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {% javascripts
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/*'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@WcGameBundle/Resources/js/*.js'
        '@WcUserBundle/Resources/js/bootstrap_slider.js'
        '@WcUserBundle/Resources/js/bets.js'
        filter="?uglifyjs2"
        output="js/main.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('select').select2({
            width:'copy'
        });
    </script>
    {% if google['analytics'] is defined %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ google['analytics'] }}');ga('send','pageview');
        </script>
    {% endif %}
{% endblock foot_script %}

{% block footer %}{% endblock %}

{% block body_end_before_js %}
    <footer></footer>
{% endblock %}