<table class="table">
    <thead>
        <tr>
            <th class="col-xs-4">Team</th>
            <th title="Played">Pl</th>
            <th title="Wins">W</th>
            <th title="Draws">D</th>
            <th title="Losses">L</th>
            <th title="Goals scored">Gf</th>
            <th title="Goals conceded">Ga</th>
            <th title="Goals difference">Gd</th>
            <th title="Points" class="text-center">P</th>
        </tr>
    </thead>
    <tbody>
    {% set totals_played = 0 %}
    {% set totals_wins = 0 %}
    {% set totals_draws = 0 %}
    {% set totals_loss = 0 %}
    {% set totals_goalsfor = 0 %}
    {% set totals_goalsagainst = 0 %}
    {% set totals_goalsdiff = 0 %}
    {% set totals_points = 0 %}
    {% for stand in standings %}
        <tr>
            <td>{% include 'WcGameBundle:Default:_p/team.html.twig' with {'team': stand.team} %}</td>
            <td title="Played">{{ stand.data.getPlayed }}</td>
            {% set totals_played = totals_played + stand.data.getPlayed %}
            <td title="Wins">{{ stand.data.getWins }}</td>
            {% set totals_wins = totals_wins + stand.data.getWins %}
            <td title="Draws">{{ stand.data.getDraws }}</td>
            {% set totals_draws = totals_draws + stand.data.getDraws %}
            <td title="Losses">{{ stand.data.getLosses }}</td>
            {% set totals_loss = totals_loss + stand.data.getLosses %}
            <td title="Goals for">{{ stand.data.getGoalsFor }}</td>
            {% set totals_goalsfor = totals_goalsfor + stand.data.getGoalsFor %}
            <td title="Goals against">{{ stand.data.getGoalsAgainst }}</td>
            {% set totals_goalsagainst = totals_goalsagainst + stand.data.getGoalsAgainst %}
            <td title="Goals difference">{{ stand.data.getGoalsDiff }}</td>
            {% set totals_goalsdiff = totals_goalsdiff + stand.data.getGoalsDiff %}
            <td title="Points" class="text-center"><strong>{{ stand.data.getPoints }}</strong></td>
            {% set totals_points = totals_points + stand.data.getPoints %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td title="Total played matches">{{ totals_played }}</td>
            <td title="Total matches won">{{ totals_wins }}</td>
            <td title="Total matches draws">{{ totals_draws }}</td>
            <td title="Total matches lost">{{ totals_loss }}</td>
            <td title="Total goals scored" colspan="3" class="text-center">{{ totals_goalsfor }}</td>
            <td title="Average points" class="text-center">Avg:
                {% if totals_points == 0 or totals_played == 0 %}
                    0.00
                {% else %}
                    {{ (totals_points / totals_played)|round(2) }}
                {% endif %}
            </td>
        </tr>
    </tfoot>
</table>